.flex-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.channel-list{
    height: 100%;
    width: 25%;
    background-color: #8DC26F;
    margin: 2px;
    border-radius: 5px;
    overflow: scroll;
}

.messages{
    margin: 2px;
    height: 100%;
    width: 75%;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
}

.user-name{
    border-radius: 5px;
    height: 60px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: rgb(13, 13, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.create-channel{
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.message-bar{
    display: flex;  
    width: 100%;
    height: 60px;
    margin-bottom: 4px;
    background-color: rgba(206, 198, 198, 0.5);
    justify-content: space-between;
    align-items: center;

}

.message-bar input{
    margin-left: 10px;
    width: 90%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    font-size: 1.2em;
    padding: 1px;
}

.message-bar button{
    cursor: pointer;
    width: 7%;
    height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    background-color: #8DC26F;
}

#creation{
    height: 100px;
    width: 100%;
    background-color: #8DC26F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    margin-top: 10px;
    cursor: pointer;
}

#creation input{
    height: 30px;
    width: 85%;
    border-radius: 2px;
    margin-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#creation button{
    margin-top: 3px;
    height: 30px;
    width: 87%;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-left: 16px;
}

#list-of-channels{
    list-style: none;
    padding-left: 5%;
    padding-bottom: 10px;

}

#list-of-channels button{
    cursor: pointer;
    width: 90%;
    height: 40px;
    background-color: #43A047;
    font-family: Arial, Helvetica, sans-serif;
    color: #f4f4f4;
    border: none;
    border-radius: 3px;
    margin-top: 25px;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#message-list{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
}

#message-list p{
    width: 95%;
    height: auto;
    padding: 10px;
    background: #e6e4e4;
    color: rgb(88, 87, 87);
    border-radius: 5px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.channel-already-present{
    background-color: red;
}

.channel-selected{
    background-color: rgb(51, 51, 128);
}